.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4caf50;
  position: relative;
  overflow: hidden;
}

.loginCircle2,
.loginCircle3,
.registerCircle3 {
  position: absolute;
  border-radius: 50%;
}

.loginCircle2 {
  width: 900px;
  height: 900px;
  background-color: #66bb6a;
  z-index: 2;
  animation: breath 5s infinite;
}

.loginCircle3 {
  width: 550px;
  height: 550px;
  background-color: #ffffff;
  z-index: 3;
}

.loginForm {
  text-align: center;
  max-width: 500px;
  position: relative;
  z-index: 4;
}

.loginLogo {
  width: 62.5%;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: #66bb6a;
  padding: 12.5px 25px;
  border-radius: 12.5px;
  margin: 0 auto 25px;
}

.loginInput {
  width: 87.5%;
  padding: 12.5px;
  margin-bottom: 18.75px;
  border: none;
  border-radius: 6.25px;
  font-size: 20px;
  background-color: #cfcfcf;
  color: #666;
}

.loginButton {
  width: 93.75%;
  padding: 12.5px;
  border: none;
  border-radius: 6.25px;
  background: #4caf50;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.loginButton:hover {
  background: #388e3c;
}

.loginLink {
  display: block;
  margin-top: 15px;
  color: #4caf50;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
}

@keyframes breath {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.error {
  color: red;
  margin-bottom: 15px;
}

.registerCircle3 {
  width: 700px;
  height: 700px;
  background-color: #ffffff;
  z-index: 3;
}
