.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
  
  }
  
  .fullScreen{
    height: 100vh;
    width: 100vw;
  }
  
  .column{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }