.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 15px;
}

.leftSide {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: var(--main-light-background-color);
  cursor: pointer;
  margin-left: 10px;
}

.centerLinks {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.centerLinks.showMenu {
  display: flex;
}

.navLinkContainer {
  position: relative;
}

.rightSide {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  text-decoration: none;
  color: var(--main-light-background-color);
  font-size: 50px;
  font-weight: bold;
}

.navLink {
  text-decoration: none;
  color: var(--main-light-background-color);
  font-size: 32px;
  padding: 8px;
  transition: .3s;
  font-weight: bold;
  cursor: pointer;
}

.navLink:hover {
  font-size: 40px;
  padding: 0;
  transition: .3s;
}

.active {
  font-size: 40px;
  padding: 0;
  transition: .3s;
}

.profileLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: var(--main-light-background-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 11;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.adminDropdownMenu {
  left: 0;
}

.dropdownItem {
  padding: 10px 20px;
  text-align: left;
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: var(--main-color);
  color: var(--main-light-background-color);
}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .leftSide {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .centerLinks {
    flex-direction: column;
    align-items: flex-start;
    display: none;
    width: 100%;
  }

  .centerLinks.showMenu {
    display: flex;
  }

  .navLink {
    font-size: 28px;
    padding: 5px 0;
  }

  .navLink:hover, .active {
    font-size: 32px;
    padding: 0;
  }

  .rightSide {
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .profileImage {
    width: 50px;
    height: 50px;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 480px) {
  .navContainer {
    padding: 5px;
  }

  .logo {
    font-size: 36px;
  }

  .navLink {
    font-size: 24px;
  }

  .navLink:hover, .active {
    font-size: 28px;
  }

  .profileImage {
    width: 40px;
    height: 40px;
  }
}
