.eventListContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background: linear-gradient(135deg, #e0f7da 25%, #daf1e0 75%);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin-bottom: 20px;
  align-items: center;
}

.searchInput{
  height: 35px;
  border-radius: 15px;
  border: #5e5b5b 1px solid;
  width: 35%;
}

.sortButton,
.filterButton {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sortButton:hover,
.filterButton:hover {
  background-color: #45a049;
}

.sortButton span {
  margin-left: 10px;
}

.eventsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.eventCard {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.eventCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.eventImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #4caf50;
}

.eventDetails {
  padding: 15px;
}

.eventCategory {
  color: #4caf50;
  font-size: 14px;
  font-weight: bold;
}

.eventTitle {
  font-size: 18px;
  margin: 10px 0;
}

.eventDate,
.eventLocation {
  color: #777;
  font-size: 14px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 80%;
  max-width: 500px;
}

.modal-header {
  padding: 10px;
  cursor: grab;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-text {
  margin: 0;
  font-size: 18px;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.modalImage {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.modalDetails {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.modalDetails h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.modalDetails p {
  margin: 5px 0;
  color: #555;
}

.modalMap {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationControls button {
  margin: 0 10px;
  padding: 5px 10px;
}

.paginationControls span {
  margin: 0 10px;
  font-size: 1.2em;
}

.filterGroup {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filterLabel {
  margin-right: 5px;
  font-weight: bold;
}

.eventListContainer {
  padding: 20px;
  background-color: #f5f5f5;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: relative;
  background: white;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Заголовок модального окна */
.modalHeader {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Кнопка закрытия модального окна */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Форматирование полей ввода и кнопок в модальной форме */
.modalForm input,
.modalForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalForm button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modalForm button:hover {
  background-color: #0056b3;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.addEventContainer {
  text-align: center;
}

.addEventContainer button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.addEventContainer button:hover {
  background-color: #0056b3;
}

.eventTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag, .tagMore {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 0.9em;
  white-space: nowrap;
}

.tag {
  border: 1px solid #ccc;
}

.tagMore {
  border: 1px solid #999;
  background-color: #f5f5f5;
}


.selectContainer {
  position: relative;
}

.selectControl {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.selectControl:hover {
  background-color: #45a049;
}

.selectSingleValue {
  color: white;
}

.selectMenu {
  color: black;
}

.selectOption {
  background-color: white;
  color: black;
}

.selectOption:hover {
  background-color: #45a049;
  color: white;
}

.selectOption.is-selected {
  background-color: #4caf50;
  color: white;
}