.pageContainer {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: linear-gradient(135deg, #e0f7da 25%, #b9f6ca 75%); */
}

.mapWrapper {
  width: 100%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh auto;
}

.loader {
  position: absolute;
  top: 45%;
  left: 48%; 
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}